body {
	background-image: url("./background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Judson', Times;
	font-weight: bold;
	font-size: 60px;
	color: #C86D18;
	margin: 1em;
}

.logo
{
	text-indent: -999999px;
	background : url("./Main Logo 2.png");
	width : 200px;
	height: 75px;
	top : 0;
	left: 0;
}
